<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyc.onlineBookManagement.dao.BookDao">
    <resultMap id="bookInfoMap" type="com.hyc.onlineBookManagement.bean.Book">
        <id column="uuid" property="uuid"/>
        <result column="img" property="img"/>
        <result column="bookName" property="bookName"/>
        <result column="author" property="author"/>
        <result column="publish" property="publish"/>
        <result column="isbn" property="isbn"/>
        <result column="price" property="price"/>
        <result column="class_uuid" property="class_uuid"/>
        <result column="state" property="state"/>
        <result column="inNum" property="inNum"/>
        <result column="outNum" property="outNum"/>
        <result column="introduction" property="introduction"/>
        <association property="bookClass" javaType="com.hyc.onlineBookManagement.bean.BookClass">
            <id column="class_uuid" property="class_uuid"/>
            <result column="class_name" property="class_name"/>
        </association>
    </resultMap>

    <sql id="bookInfo_list">
        uuid,img,bookName,author,publish,isbn,price,class_uuid,state,inNum,outNum,introduction
    </sql>

    <insert id="insertBook" parameterType="com.hyc.onlineBookManagement.bean.Book">
        insert into
        book_info(
        <include refid="bookInfo_list"/>
        )
        values (#{uuid},#{img},#{bookName},#{author},#{publish},#{isbn},#{price},#{class_uuid},#{state},#{inNum},#{outNum},#{introduction})
    </insert>

    <delete id="deleteBook">
        delete
        from book_info
        where uuid=#{uuid}
    </delete>

    <update id="updateBook">
        update book_info b
        <trim prefix="set" suffixOverrides="," suffix="where uuid =#{uuid}">
            <if test="img != null and img !=''">
                b.img=#{img},
            </if>
            <if test="bookName != null and bookName !=''">
                b.bookName=#{bookName},
            </if>
            <if test="author != null and author !=''">
                b.author=#{author},
            </if>
            <if test="publish != null and publish !=''">
                b.publish=#{publish},
            </if>
            <if test="isbn != null and isbn !=''">
                b.isbn=#{isbn},
            </if>
            <if test="price != null and price !=''">
                b.price=#{price},
            </if>
            <if test="class_uuid != null and class_uuid !=''">
                b.class_uuid=#{class_uuid},
            </if>
            <if test="state != null and state !=''">
                b.state=#{state},
            </if>
            <if test="inNum != null and inNum !=''">
                b.inNum=#{inNum},
            </if>
            <if test="outNum != null and outNum !=''">
                b.outNum=#{outNum},
            </if>
            <if test="introduction != null and introduction !=''">
                b.introduction=#{introduction}
            </if>
        </trim>
    </update>

    <select id="selectBookByParams" resultType="com.hyc.onlineBookManagement.bean.Book">
        select *
        from book_info b
        <where>
            <if test="uuid != null and uuid !=''">
                b.uuid=#{uuid}
            </if>
            <if test="img != null and img !=''">
                and b.img=#{img}
            </if>
            <if test="bookName != null and bookName !=''">
                and b.bookName=#{bookName}
            </if>
            <if test="author != null and author !=''">
                and b.author=#{author}
            </if>
            <if test="publish != null and publish !=''">
                and b.publish=#{publish}
            </if>
            <if test="isbn != null and isbn !=''">
                and b.isbn=#{isbn}
            </if>
            <if test="price != null and price !=''">
                and b.price=#{price}
            </if>
            <if test="class_uuid != null and class_uuid !=''">
                and b.class_uuid=#{class_uuid}
            </if>
            <if test="state != null and state !=''">
                and b.state=#{state}
            </if>
            <if test="inNum != null and inNum !=''">
                and b.inNum=#{inNum}
            </if>
            <if test="outNum != null and outNum !=''">
                and b.outNum=#{outNum}
            </if>
            <if test="introduction != null and introduction !=''">
                and b.introduction=#{introduction}
            </if>
        </where>
    </select>

    <select id="selectBookCount" resultType="java.lang.Integer">
        select COUNT(*)
        from book_info b
        <where>
            <if test="uuid != null and uuid !=''">
                b.uuid like "%"#{uuid}"%"
            </if>
            <if test="img != null and img !=''">
                and b.img like "%"#{img}"%"
            </if>
            <if test="bookName != null and bookName !=''">
                and b.bookName like "%"#{bookName}"%"
            </if>
            <if test="author != null and author !=''">
                and b.author like "%"#{author}"%"
            </if>
            <if test="publish != null and publish !=''">
                and b.publish like "%"#{publish}"%"
            </if>
            <if test="isbn != null and isbn !=''">
                and b.isbn like "%"#{isbn}"%"
            </if>
            <if test="price != null and price !=''">
                and b.price like "%"#{price}"%"
            </if>
            <if test="class_uuid != null and class_uuid !=''">
                and b.class_uuid like "%"#{class_uuid}"%"
            </if>
            <if test="state != null and state !=''">
                and b.state like "%"#{state}"%"
            </if>
            <if test="inNum != null and inNum !=''">
                and b.inNum like "%"#{inNum}"%"
            </if>
            <if test="outNum != null and outNum !=''">
                and b.outNum like "%"#{outNum}"%"
            </if>
            <if test="introduction != null and introduction !=''">
                and b.introduction like "%"#{introduction}"%"
            </if>
        </where>
    </select>

    <select id="selectBookByFuzzyAndPage" resultType="com.hyc.onlineBookManagement.bean.Book">
        select *
        from book_info b
        <where>
            <if test="uuid != null and uuid !=''">
                b.uuid like "%"#{uuid}"%"
            </if>
            <if test="img != null and img !=''">
                and b.img like "%"#{img}"%"
            </if>
            <if test="bookName != null and bookName !=''">
                and b.bookName like "%"#{bookName}"%"
            </if>
            <if test="author != null and author !=''">
                and b.author like "%"#{author}"%"
            </if>
            <if test="publish != null and publish !=''">
                and b.publish like "%"#{publish}"%"
            </if>
            <if test="isbn != null and isbn !=''">
                and b.isbn like "%"#{isbn}"%"
            </if>
            <if test="price != null and price !=''">
                and b.price like "%"#{price}"%"
            </if>
            <if test="class_uuid != null and class_uuid !=''">
                and b.class_uuid like "%"#{class_uuid}"%"
            </if>
            <if test="state != null and state !=''">
                and b.state like "%"#{state}"%"
            </if>
            <if test="inNum != null and inNum !=''">
                and b.inNum like "%"#{inNum}"%"
            </if>
            <if test="outNum != null and outNum !=''">
                and b.outNum like "%"#{outNum}"%"
            </if>
            <if test="introduction != null and introduction !=''">
                and b.introduction like "%"#{introduction}"%"
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="selectBookClass" resultType="com.hyc.onlineBookManagement.bean.BookClass">
        select *
        from class_info
    </select>

    <insert id="insertBookClass" parameterType="com.hyc.onlineBookManagement.bean.BookClass">
        insert into
        class_info(
        class_uuid,class_name
        )
        values (#{class_uuid},#{class_name})
    </insert>

    <delete id="deleteBookClass">
        delete
        from class_info
        where class_uuid=#{class_uuid}
    </delete>

    <select id="selectBookClassCount" resultType="Map">
      select c.class_name,COUNT(*) as num
      from book_info b,class_info c
      where b.class_uuid=c.class_uuid
      group by b.class_uuid
    </select>

    <select id="selectBookClassOutCount" resultType="Map">
        select c.class_name,SUM(outNum) as num
        from book_info b,class_info c
        where b.class_uuid=c.class_uuid
        group by b.class_uuid
		ORDER BY SUM(outNum) ASC
    </select>

    <select id="selectBookCountLimitTen" resultType="Map">
        select bookName as name,SUM(outNum) as value
        from book_info
        GROUP BY bookName
        ORDER BY SUM(outNum) DESC
        limit 10
    </select>
</mapper>