<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyc.onlineBookManagement.dao.UserDao">
    <resultMap id="userInfoMap" type="com.hyc.onlineBookManagement.bean.User">
        <id column="id" property="id"/>
        <result column="userName" property="userrName"/>
        <result column="realName" property="realName"/>
        <result column="password" property="password"/>
        <result column="IDcard" property="IDcard"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
    </resultMap>

    <sql id="userInfo_list">
        id,userName,realName,password,IDcard,telephone,email
    </sql>
    <select id="selectUserByParams" resultType="com.hyc.onlineBookManagement.bean.User">
      select *
      from user_info u
      <where>
          <if test="id != null and id != ''">
            u.id=#{id}
          </if>
          <if test="userName != null and userName != ''">
              and u.userName=#{userName}
          </if>
          <if test="realName != null and realName != ''">
            and u.realName=#{realName}
          </if>
          <if test="password != null and password != ''">
            and u.password=#{password}
          </if>
          <if test="IDcard != null and IDcard != ''">
            and u.IDcard=#{IDcard}
          </if>
          <if test="telephone != null and telephone != ''">
            and u.telephone=#{telephone}
          </if>
          <if test="email != null and email != ''">
            and u.email=#{email}
          </if>
      </where>
    </select>

    <select id="selectUserCount" resultType="java.lang.Integer">
        select COUNT(*)
        from user_info u
        <where>
            <if test="id != null and id != ''">
                u.id like "%"#{id}
            </if>
            <if test="userName != null and userName != ''">
                and u.userName like "%"#{userName}"%"
            </if>
            <if test="realName != null and realName != ''">
                and u.realName like "%"#{realName}"%"
            </if>
            <if test="password != null and password != ''">
                and u.password like "%"#{password}"%"
            </if>
            <if test="IDcard != null and IDcard != ''">
                and u.IDcard like "%"#{IDcard}"%"
            </if>
            <if test="telephone != null and telephone != ''">
                and u.telephone like "%"#{telephone}"%"
            </if>
            <if test="email != null and email != ''">
                and u.email like "%"#{email}"%"
            </if>
        </where>
    </select>

    <select id="selectUserByFuzzyAndPage" resultType="com.hyc.onlineBookManagement.bean.User">
        select *
        from user_info u
        <where>
            <if test="id != null and id != ''">
                u.id like "%"#{id}
            </if>
            <if test="userName != null and userName != ''">
                and u.userName like "%"#{userName}"%"
            </if>
            <if test="realName != null and realName != ''">
                and u.realName like "%"#{realName}"%"
            </if>
            <if test="password != null and password != ''">
                and u.password like "%"#{password}"%"
            </if>
            <if test="IDcard != null and IDcard != ''">
                and u.IDcard like "%"#{IDcard}"%"
            </if>
            <if test="telephone != null and telephone != ''">
                and u.telephone like "%"#{telephone}"%"
            </if>
            <if test="email != null and email != ''">
                and u.email like "%"#{email}"%"
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <insert id="insertUser" parameterType="com.hyc.onlineBookManagement.bean.User">
        insert into user_info(
        <include refid="userInfo_list"/>
        )
        values (#{id},#{userName},#{realName},#{password},#{IDcard},#{telephone},#{email})
    </insert>

    <update id="updateUser">
        update user_info
        <trim prefix="set" suffixOverrides="," suffix="where id =#{id}">
          <if test="userName != null and userName != ''">
            userName=#{userName},
          </if>
          <if test="realName != null and realName != ''">
              realName=#{realName},
          </if>
          <if test="password != null and password != ''">
              password=#{password},
          </if>
          <if test="IDcard != null and IDcard != ''">
              IDcard=#{IDcard},
          </if>
          <if test="telephone != null and telephone != ''">
              telephone=#{telephone},
          </if>
          <if test="email != null and email !=''">
              email=#{email},
          </if>
        </trim>
    </update>
</mapper>
